#### Imports

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.naive_bayes import MultinomialNB


#Take in the data from the smsData.csv file.
dataSet = pd.read_csv('smsData.csv')
dataSet

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

<p>As we can see above our data set has a type column and a text column. The type colum is our result column which either outputs spam for a spam message or Ham for a non-spam message. ham is short for non-spam in software development lingo. The text column contains the messages we are testing. As we know machine learning algortihims do not understand text but they do understand numbers. Therefore we will have to once again encode both columns into numbers as they are currently in text.</p>

#### Data Pre Processing

In [3]:
# Check for null values in the data set.
dataSet.isnull().sum()

type    0
text    0
dtype: int64

In [4]:
# Check the shape of the data set. Number of rows and columns.
dataSet.shape

(5559, 2)

In [5]:
# Let's seee how many rows of each category our data set contains
dataSet.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4812   4503                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [12]:

dataSet['outcome'] = dataSet['type'].apply
# Seperate your Target and the rest of the data.
y = pd.DataFrame(dataSet['type'])
X = dataSet.drop(['type'], axis=1)


# Create the train and test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 101, stratify=y, test_size = 0.20)

# Check the distribution of the training set.
y_train.value_counts(normalize=True)

0    0.865527
1    0.134473
Name: outcome, dtype: float64

In [13]:
# Check the distribution of the test set.
y_test.value_counts(normalize=True)

0    0.866007
1    0.133993
Name: outcome, dtype: float64

In [14]:
# Check the shapes of the training sets.
X_train.shape, y_train.shape

((4447,), (4447,))

In [15]:
# Check the shapes of the test sets.
X_test.shape, y_test.shape

((1112,), (1112,))

In [18]:
X_train

5543    What's up my own oga. Left my phone at home an...
293             Carlos says he'll be at mu in  #  minutes
1942    Jokin only lar... :-) depends on which phone m...
3676              Get ready for  #  inches of pleasure...
1730    December only! Had your mobile 11mths+? You ar...
                              ...
2293    Ur cash-balance is currently 500 pounds - to m...
1951    Welcome to Select, an O2 service with added be...
1904                                    Yeah whatever lol
1187    Daddy, shu shu is looking 4 u... U wan me 2 te...
2179                              Ew are you one of them?
Name: text, Length: 4447, dtype: object

In [17]:
dataSet

      type                                               text  outcome
0      ham  Hope you are having a good week. Just checking in        0
1      ham                            K..give back my thanks.        0
2      ham        Am also doing in cbe only. But have to pay.        0
3     spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...        1
4     spam  okmail: Dear Dave this is your final notice to...        1
...    ...                                                ...      ...
5554   ham  You are a great role model. You are giving so ...        0
5555   ham  Awesome, I remember the last time we got someb...        0
5556  spam  If you don't, your prize will go to another cu...        1
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...        1
5558   ham                    Shall call now dear having food        0

[5559 rows x 3 columns]

In [24]:
vec = CountVectorizer()
X_train_count = vec.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])