#### Name: Peter Lucan
#### Student Number: C00228946

#### Imports

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.naive_bayes import MultinomialNB


#Take in the data from the smsData.csv file.
dataSet = pd.read_csv('smsData.csv')
dataSet

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

<p>As we can see above our data set has a type column and a text column. The type colum is our result column which either outputs spam for a spam message or Ham for a non-spam message. ham is short for non-spam in software development lingo. The text column contains the messages we are testing. As we know machine learning algortihims do not understand text but they do understand numbers. Therefore we will have to once again encode both columns into numbers as they are currently in text.</p>

#### Data Pre Processing

In [2]:
# Check for null values in the data set.
dataSet.isnull().sum()

type    0
text    0
dtype: int64

In [3]:
# Check the shape of the data set. Number of rows and columns.
dataSet.shape

(5559, 2)

In [4]:
# Let's seee how many rows of each category our data set contains
dataSet.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4812   4503                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [5]:
# Seperate your Target and the rest of the data.
y = dataSet['Purchased']
X = dataSet.drop(['Purchased'], axis=1)

# Create the train and test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 101, stratify=y, test_size = 0.20)

# Check the distribution of the training set.
y_train.value_counts(normalize=True)

KeyError: 'Purchased'

In [6]:
# Check the distribution of the test set.
y_test.value_counts(normalize=True)

NameError: name 'y_test' is not defined

In [7]:
# Check the shapes of the training sets.
X_train.shape, y_train.shape

NameError: name 'X_train' is not defined

In [8]:
# Check the shapes of the test sets.
X_test.shape, y_test.shape

NameError: name 'X_test' is not defined